<%= form_for(@alert) do |f| %>
  <% if @alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

      <ul>
      <% @alert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label "URL:" %>
  <%= f.text_field :url %>
  
  <div class="field">
    <div class="control-group">
      <%= f.fields_for :phones do |builder| %>
        <%= render 'phones', :f => builder %>
      <% end %>
    </div>
  </div>
  <div class="button small addField"><%= link_to_add_fields "Add a phone number", f, :phones %></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
