<div class="row">
  <div class="small-12 large-12 columns">
    <h1>Alerts</h1>

    <table>
      <thead>
        <tr>
          <th>Url</th>
          <th>Phone</th>
          <th>Status</th>
          <th>Last updated</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @alerts.each do |alert| %>
          <tr>
            <td><%= link_to alert.url, alert.url %></td>
            <td>
              <% alert.phones.each do |p| %>
                <%= p.phone_number %>,
              <% end %>
            </td>
            <td><%= alert.status %></td>
            <td><%= alert.updated_at %></td>
            <td><%= link_to 'Show', alert, :class=>'button small' %></td>
            <td><%= link_to 'Edit', edit_alert_path(alert), :class=>'button secondary small' %></td>
            <td><%= link_to 'Destroy', alert, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'button small alert' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br />

    <%= link_to 'New Alert', new_alert_path, :class=>'button' %>
  </div>
</div>
